<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
<body>
    <h1>New program {{ program.title }} created</h1>
    <p>Hello, the new program {{ program.title }} has been created on Wild Series</p>
    <p>Synopsis : {{program.synopsis }}
</body>
</html>
